.main {
    margin: 84px 120px 124px;
}

.message {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.paginationButton {
    border: 1px solid var(--button);
    border-radius: 12px;
    padding: 12px 51px;
    display: block;
    margin: 0 auto;
    font-weight: 600;
}

.paginationButton:hover {
    border: 1px solid var(--button-hover);
}
