.main {
    margin: 84px 120px 104px;
}

.message {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.infoWrapper {
    display: flex;
    gap: 72px;
}

.image {
    border-radius: 19px;
    margin-bottom: 40px;
}
